 .container {
    text-align: center;
    background-color: lightblue;   
}

.title{
    font-size:60px;
    color:black;
    font-weight: 100;
}

.user-input{
    size:30px;
    border:3px solid black;
    border-bottom-left-radius:10px;
    border-bottom-right-radius:10px;
    padding:20px;
}

.form-group{
    
}

#submitButton, #addButton, #clearButton{
    background-color:white;
    border:2px solid black;
    color:black;
    text-align:center;
    display:inline-block;
    font-size:12px;
    padding:10px 16px;
    font-weight: bold; 
}  