@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,800');
body {
    background-image: url(../images/recipefaded.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Open Sans', sans-serif;
}
.title {
    font-family: 'Open Sans', sans-serif;
    font-size: 2em;
    font-weight: 800;
}
.container {
    text-align: center; 
}

.btn {
    background: #2b2b2b;
    color: #dadee3;
    margin: 5px;
    border-radius: 5px;
}
.back-btn {
    float: right;
}
.btn:hover {
    background: #dadee3;
    color: #2b2b2b;
}
.btn:focus {
    background: #a3aeba;
    color: #2b2b2b;
}
.user-input {
    margin-top: 100px;
}
.card {
    width: 50%;
    background: #b5bec7;
    margin: 30px auto;
}
.card-title {
    font-weight: 800;
}
a {
    font-size: 24px;
    color: black;
    text-decoration: underline;
}
.input-field input[type=text]:focus + label, .materialize-textarea:focus:not([readonly]) + label {
    color:  #61686F !important;
   }

.input-field input[type=text]:focus, .materialize-textarea:focus:not([readonly]) {
    border-bottom: 1px solid  #61686F !important;
    box-shadow: 0 1px 0 0  #61686F !important;
}

.input-field input[type=text] + label, .materialize-textarea:not([readonly]) + label {
    color: #2B2B2B !important;
}

.input-field input[type=text], .materialize-textarea:not([readonly]) {
    border-bottom: 1px solid #2B2B2B !important;
    box-shadow: 0 1px 0 0 #2B2B2B !important;
}

::-webkit-input-placeholder {
    color: black;
}

.addText {
    margin: 0 auto;
}

.recipe-display {
    float: left;
    margin: 20px;
}